<script>
    // $("#center").hide();

    $("#searchtoggle").click(function(){
        $("#center").toggle()
    })

    window.onload = function() {
        $("#form")[0].reset();
        console.log("cleared")
};
    $(document).ready(function($) {
    $("#clear").click(function() {
        $("#form")[0].reset();
        console.log("cleared")
    });
});
    $("#btnsave").click(function(){
        console.log("save button clicked")
    output = "";
    let sid = $("#stuid").val();
    let nm = $("#nameid").val();
    let dt = $("#dateid").val();
    let wt = $("#weightid").val();
    let pr = $("#priceid").val();
    let ct = $("#cityid").val();
    let dn = $("#docket_noid").val();

    let csr = $("input[name=csrfmiddlewaretoken").val();
    if(nm=="")
    {
        console.log("Please enter name");
    }
    else if(dt=="")
    {
        console.log("Please enter date");
    }
    else if(dn=="")
    {
        console.log("Please enter docket No");
    }
    else if(pr=="")
    {
        console.log("Please enter price");
    }
    else if(ct=="")
    {
        console.log("Please enter city");
    }
    else{
        console.log(dt);
        // console.log(em);
        // console.log(pw);   
        mydata = {stuid:sid,name : nm,date:dt,weight:wt,price:pr,city:ct,docket_no:dn,csrfmiddlewaretoken:csr}
        // console.log(mydata)
        $.ajax({
            url: "{% url 'save' ids %}",
            method: 'POST',
            data:mydata,
            success:function(data){
                // console.log(data.status);
                if(data.status == "Save"){
                    $("#msg").text("Form submitted")
                    $("#msg").show()

                    console.log(data.mydata)
                    x = data.mydata
                    for(i = 0;i<x.length;i++)
                    {
                        output += "<tr><td>" + x[i].sno+"</td><td>"+x[i].date +"</td><td>" + x[i].docket_no +"</td><td>" + x[i].name +"</td><td>" + x[i].weight +"</td><td>" + x[i].city +"</td><td>" + x[i].price +"</td><td><input type='button' value='Edit' class='btn btn-warning btn-sm btn-edit' data-sid=" + x[i].id + ">"
                    }
                    $("#tbody").html(output);
                    $("#stuid").val("")
                    $("#form")[0].reset();
                }
                else
                {
                    $("#msg").text("Nahi hua")
                    $("#msg").show()
                }
            }
        })

    }
});

$("tbody").on("click",".btn-edit",function(){
    console.log("edit buton clicked");
    let id = $(this).attr("data-sid");
    let csr = $("input[name=csrfmiddlewaretoken").val();
    console.log(id);
    mydata = {sid:id,csrfmiddlewaretoken:csr};
    $.ajax({
        url:"{% url 'edit' ids %}",
        method:"POST",
        data:mydata,
        success:function(data){
            // console.log(data)
            $("#stuid").val(data.id);
            $("#nameid").val(data.name);
            $("#dateid").val(data.date);
            $("#cityid").val(data.city);
            $("#weightid").val(data.weight);
            $("#priceid").val(data.price);
            $("#docket_noid").val(data.docket_no);
        }
    })

})

</script>