{% extends "app/base.html" %}
{% load static %}
{% load myapp_extras %}
{% load utils %}

{% block title %} MCS {% endblock %}


{% block navbar %}
<a class="btn btn-outline-primary mx-2" href="{% url 'generatebill' ids %}"> Generate Bill </a>
<span class="btn btn-outline-success" style="cursor: pointer;" id="searchtoggle">Search or Download</span>
{% endblock %}

{% block headname %}
    {{book.name}}
{% endblock %}

{% block filter %}  
<center id="center">
  <form action="" method="post">
    {% csrf_token %}
    <div class="row my-1">
      <div class="col-xl-3">
  From: <input type="date" name="fromdate" id="">
</div>
<div class="col-xl-3">
  To: <input type="date" name="todate" id="">
</div>
<div class="col-xl-6">
  Docket number: <input type="search" name="docketno" id="">
</div>
</div>
<div class="col">
  <!-- <div class="col-sm-4"> -->
  <input type="submit" class="btn btn-primary" value="Search">
<!-- </div> -->
  {% if not searchtrue %}
  <!-- <div class="col-sm-4"> -->
  <button type="reset" class="btn btn-info">Reset</button>
<!-- </div> -->
<!-- <div class="col-sm-4"> -->
  <button type="submit" name="download" class="btn btn-success" value="download">Pdf</button>
<!-- </div> -->
  {% endif %}
</div>
  {% if searchtrue %}
  <a class="btn btn-dark" href="{% url 'home' ids %}">Close Search</a>
  <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">S/no</th>
            <th scope="col">DATE</th>
            <th scope="col">DOCKET</th>
            <th scope="col">NAME</th>
            <th scope="col">WEIGHT (Kg)</th>
            <th scope="col">CITY</th>
            <th scope="col">PRICE</th>
            <th scope="col">ACTION</th>
        </tr>
    </thead>
    <tbody id="tbody">
      {% for dat in searchresult %}
        <tr>
            <td>{{dat.id}}</td>
            <td>{{dat.date|date:'Y-m-d'}}</td>
            <td>{{dat.docket_no}}</td>
            <td>{{dat.name}}</td>
            <td>{{dat.weight}}</td>
            <td>{{dat.city}}</td>
            <td>{{dat.price}}</td>
            <td>
                <input type="button" value="Edit" class="btn btn-warning btn-sm btn-edit" data-sid={{dat.id}}>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
 
  {% endif %}
  {% if date_error %}
  <p> Please enter both dates or enter docket number </p>
  {% endif %}
</form>
</center>


{% endblock %}

{% block addbook %}
<h6 class="text-center alert alert-info">Add Booking</h6>
<form action="" id="form" method="post">
    {% csrf_token %}
    <input type="hidden" name="stuid" id="stuid">
    {{form}}
    <input type="button" class="btn btn-success my-2" id="btnsave" value="Save">
    <button type="reset" class="btn btn-info my-2">Reset Form</button>
  </form> 
<!-- <button id="clear" class="btn btn-info">Clear</button> -->
<div id="msg" class="alert alert-success" style="display: none;"></div>
{% endblock %}

{% block book %}
<h6 class="text-center alert alert-info">Booking</h6>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">S/no</th>
            <th scope="col">DATE</th>
            <th scope="col">DOCKET</th>
            <th scope="col">NAME</th>
            <th scope="col">WEIGHT (Kg)</th>
            <th scope="col">CITY</th>
            <th scope="col">PRICE</th>
            <th scope="col">ACTION</th>
        </tr>
    </thead>
    <tbody id="tbody">
        {% for dat in data %}
        <tr>
            <td> {{dat.sno}} </td>
            <td>{{dat.date|date:'Y-m-d'}}</td>
            <td>{{dat.docket_no}}</td>
            <td>{{dat.name}}</td>
            <td>{{dat.weight}}</td>
            <td>{{dat.city}}</td>
            <td>{{dat.price}}</td>
            <td>
                <input type="button" value="Edit" class="btn btn-warning btn-sm btn-edit" data-sid={{dat.id}}>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
      </li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-item active" aria-current="page">
          <span class="page-link">
            {{ i }}
            <span class="sr-only">(current)</span>
          </span>
        </li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
      </li>
    {% endif %}
  </ul>
</nav>

{% include "app/ajax.html" %}
{% endblock %}